/* Dorakura-Kyoto :: 60-notebook.css */
/* GTK3 tabs / notebooks */

notebook {
  background-color: @theme_bg_color;
}

notebook > header {
  background-image: none;
  background-color: @window_bg_color;
  border-bottom: 1px solid @border_color;
}

notebook > header.top {
  border-bottom: 1px solid @border_color;
}

notebook > header.bottom {
  border-top: 1px solid @border_color;
}

notebook > header > tabs > tab {
  color: @muted_fg_color;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px 8px 0 0;
  padding: 6px 10px;
  margin: 2px 2px 0 2px;
  box-shadow: none;
}

notebook > header > tabs > tab:hover {
  color: @theme_fg_color;
  background-color: @card_bg_color;
  border-color: alpha(@border_color, 0.8);
}

notebook > header > tabs > tab:checked {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
  border-color: @accent_color;
}

notebook > stack,
notebook > contents {
  background-color: @theme_bg_color;
}
